<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center text-danger">
                    <h1>User Registration</h1>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
                    <label for="" class="form-label"><h3>Name</h3></label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h3>Aadhar Number</h3></label>
                    <input name="ano" [(ngModel)]="ano" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h3>Address</h3></label>
                    <textarea name="address" [(ngModel)]="address" id="" cols="30" rows="8" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h3>Pincode</h3></label>
                    <input name="pincode" [(ngModel)]="pincode" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h3>Date Of Birth</h3></label>
                    <input type="date" name="dob" [(ngModel)]="dob" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h3>Email id</h3></label>
                    <input name="eid" [(ngModel)]="eid" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h3>Phone Number</h3></label>
                    <input name="phno" [(ngModel)]="phno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h3>Username</h3></label>
                    <input name="uname" [(ngModel)]="uname" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h3>Password</h3></label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h3>Confirm Password</h3></label>
                    <input name="cpassword" [(ngModel)]="cpassword" type="password" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="register()" class="btn btn-success"><h5>Register</h5></button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a routerLink="/login" class="btn btn-success"><h6>Back to user login</h6></a>
                </div>
            </div>
        </div>
    </div>
</div>
