<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center text-danger">
                    <h1>Administartor Login</h1>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h3>Username</h3></label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h3>Password</h3></label>
                    <input name="password" [(ngModel)]="password" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="admlog()" class="btn btn-primary">Login</button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a routerLink="/registration"><h5>User Registration</h5></a>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a routerLink="/login"><h5>User Login</h5></a>
                </div>
            </div>
        </div>
    </div>
</div>
